#blog{
    width: 100%;
    text-align: left;

}
.imgtd{
    width: 10%;
}

table td:first-of-type{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  table td:last-of-type{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .typea{
      font-size: 13px;
      color: #919191 !important;
  }

  .sliceclass{
      font-size: 11px;
      font-weight: 400 !important;
  }

td{

    color: #2c2c2b;
    font-weight: 500;

    font-size: 20px;
  background: #f3f3f3;
  padding: 14px;

}

.articleimg{
    height: 100px;
    width: 100px;
}


table{
    border-collapse: separate;
    border-spacing: 0 25px;
    text-align: center;
}

