.Condiv{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    flex-direction: row; }
    .images7{
        width: 100%;
    }
    .swiper-container{
        
        padding: 0 2% 0 2%;
    }
    .home{
        width: 100%;
        padding: 3%;
        display: inline-block;
        height: 350px;
        border-radius: 10px!important;
    }
    .home:hover{
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
        box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
        transition: all 0.4s ease 0s;
      }
    .hometext{
        width: 49%;
        height: auto;
        display: inline-block;
        padding-top: 6%;
        padding-left: 6%;
        padding-right: 6%;
        padding-bottom: 2%;
        margin-bottom: 0%;
        
    }
    .tag{
        font-size: 17px;
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
        float:right;
        padding-top: 3%;
        font-weight: 500;
        color: #2c2c2b;
        
    }
    .home:hover {
        transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        transition-duration: 0.5s;
       border-radius: 35px!important;
       padding: 3%;
      }
      .region{
         
          width: 30%;
          
      }
      .region2{
        padding: 4px 12px 4px 12px;
        
        border-radius: 3px;
        color: #2c2c2b;
        width: 30%;
       
    }
    .regionText{
        padding: 4px 12px 4px 12px;
          background: #dfbe4a;
          border-radius: 3px;
          color: #fff!important;
          text-align: center;

    }
     
h1{
    font-size: 35px;
    text-align: center;
    font-weight: 400;
    margin-top: 30px;
}
.title{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding: 10px 25px 10px 25px;
    color: #fff;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #dfbe4a;
}

    @media (min-width: 200px) and (max-width: 1030px) {

        .col-md-3 {
           
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%; }
            .images7{
                width: 100%;
            }
            .home{
                width: 100%;
                padding-left: 6%;
                padding-right: 6%;
                display: inline-block;
                height: 300px;
            }
            
            .hometext{
                width: 100%;
                padding-left: 6%;
                padding-right: 6%;
                display: inline-block;
                height: 400px;
                padding-top: 6%;
            }
            .tag{
                
                padding-left: 6%;
                padding-right: 6%;
                
                
            }
           

    }    