
  
  .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .overlay{
    height: 500px;
  }
  .gallery-top {
    height: 80%;
    width: 100%;
  }
  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
  .images7{
      width: 100%;
  }
  .content{
     
      width: 50%;  
      overflow: scroll;
  }
  .contenttext{
      margin: 5%;
      
      overflow: scroll;
      text-align: center;
  }
  .constructor{
    border: 2px solid yellow;
    height: auto;
    width: 50%;
    min-width: 225px;
    padding-top: 5%; 
  }
  .person{
      height: 120px;
      border-radius: 50%;
      width: 120px;
     
      margin-left: auto;
      margin-right: auto;
  }
  .personinfo{
    border: 2px solid green;
    height: auto;
    width: 50%;
    padding-top: 5%;

  }
  .personinfoC{
    border: 2px solid green;
    width: 80%; 
    margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-bottom: 1%;
      max-height: 320px;
      overflow: scroll;
      font-size: 14px;
  }
  .name{
      width: 100%;
      text-align: center;
  }
#myChart{
    
    width: 100%;
    height:200px;
}
#leftdiv{
    width: 50%;margin-left: 0px;
}
.flex{
    display: flex;
    flex-direction: row;
    margin-top: -20%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.flex2{
    display: flex;
    flex-direction: row;
    width: 50%;
    
}
.personinfoL{
    margin-left: 3%;
}
.more3 {
    font-size: 14px;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 99;
    width: 100%;
    display: inline-block;
    border: none;
    padding: 6px;
    transition: all 0.4s ease 0s;
    background-color: rgb(4, 117, 117);
    font-weight: 300;
    margin-left: 0%;
    position: relative;
    line-height: 40px;
    text-align: center;
    
  }
  .more3:hover {
    background: #07f7ff;
    letter-spacing: 3px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
    background-position: 500% 100%;
  }
  

@media (min-width: 200px) and (max-width: 730px) {
    .flex{
        display: flex;
        flex-direction: column;
    }
    .hero-wrap,.overlay{
      height: 400px;
    }
    .flex2{
        width: 100%;
    }
    #leftdiv{
        width: 100%;    
    }
    #rightdiv{
        width: 100%;
    }
    .personinfo{
        width: 75%;
    }
    
}
  