.advantagesDiv{
    
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: 200px;
    margin-top: 50px;
}

@media (min-width: 200px) and (max-width: 630px) {

    .col-md-3 {
       
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; }
        .images7{
            width: 100%;
        }
        .home{
            width: 100%;
            padding-left: 6%;
            padding-right: 6%;
            display: inline-block;
            height: 300px;
        }
        .hometext{
            width: 100%;
            padding-left: 6%;
            padding-right: 6%;
            display: inline-block;
            height: 400px;
            
        }
        .advantagesDiv{
    
            display: flex;
            flex-direction: row;
            height: auto;
            min-height: 200px;
            margin-top: -100px;
            padding-bottom: 100px;
        }
        .sectiondiv1{
            margin-top: 150px;
        }
        

}    